

/* Header */
.K2-grid {
    padding: 5px;
    text-align: center;
}

.K2-grid ul {
    clear: both;
    margin: 15px 0 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coll-3 ul li {
    width: 30%;
}

.K2-grid li {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.K2-grid li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.K2-grid li svg {
    margin: 3px 0;
    width: 35px;
    height: 35px;
    fill: #26ae61;
    display: inline-block;
}

.K2-grid li span {
    display: block;
    padding: 0 3px;
}


/* Header */


/* box */
.asdesc{position:relative;display:inline-block;width:320px;margin:0 3px 30px;padding:20px; border:1px solid #eceff1; font-size:14px;line-height:1.8em;border-radius:15px;} .asdesc h3, .asdesc h4, .asdesc b{font-size:13px;font-weight:400; margin:0;padding:2px 14px;background-color:#282828;border:1px solid #eceff1;border-radius:15px; position:absolute;top:-15.5px;left:20px;color:#fefefe;} 
.drkM .asdesc b{background-color:#252526}
.asbutton{display:inline-flex;align-items:center; margin:12px 12px 12px 0;padding:10px 15px;outline:0;border:2px; border-radius:50px;line-height:20px; color:#fefefe; background-color:#204ecf; font-size:13px;font-family:'Noto Sans', sans-serif; white-space:nowrap;overflow:hidden;max-width:100%}.asbutton.outline{color:inherit; background-color:transparent; border:1px solid #eceff1} .asbutton.outline:hover{border-color:#204ecf}
/* box */

/* blockquote */
.Blog blockquote{position:relative;font-size:.9rem;line-height:1.62em;margin-left:0;margin-right:0;padding:30px 25px;border-left:2px solid #ebeced}
.Blog blockquote.style-1{padding:30px 25px 30px 80px;border-radius:4px;border:2px solid #ebeced}
.Blog blockquote.style-1:before{content:'\201D';display:block;position:absolute;font-weight:700;font-size:60px;font-family:$(heading.font);top:7px;left:25px;line-height:normal;color:rgba(0,0,0,.15)}
.Blog blockquote.style-1 ul{font-size:97%}
/* blockquote */

/* note */
.Blog .note{position:relative;padding:20px 30px 20px 50px;background-color:#e1f5fe;color:#01579b;font-size:.87rem;line-height:1.62em;border-radius:3px}
.Blog .note:before{content:'\2605';position:absolute;left:18px;font-size:20px}
.Blog .noteAlert{background-color:#ffdfdf;color:#e65151}
.Blog .noteAlert:before{content:'\2691'}
/* note */

/* Widget FeaturedPost */
.FeaturedPost article{display:flex;align-items:center;flex-wrap:wrap;margin:0;padding:10px;position:relative;overflow:hidden}
.FeaturedPost article:after{content:'';display:block;min-width:25px;padding:4px 0;background-color:$(link.bg.colors);position:absolute;top:0;right:0;border-radius:0 0 0 3px}
.FeaturedPost .item-thumbnail{flex:0 0 auto;width:310px;margin-right:20px}
.FeaturedPost .item-content{flex:1 0;padding:8px 8px 8px 0;width:calc(100% - 330px)}
.FeaturedPost .item-label a:hover, .PopularPosts .item-label a:hover, .Label li a .label-title:hover{text-decoration:underline}
.FeaturedPost .item-title{font-size:120%;line-height:1.48em}
.FeaturedPost .item-title a, .PopularPosts .item-title a{-webkit-line-clamp:2}
.FeaturedPost .item-entry{margin-top:12px;font-size:90%}
.sidebar .FeaturedPost article{display:block;padding:0;box-shadow:none}
.sidebar .FeaturedPost .item-content{padding:15px 0 0}
.sidebar .FeaturedPost .item-title, .PopularPosts .item-title{font-size:95%}

/* Dark Mode */
.dark-mode, .dark-mode .Blog .post-toc, .dark-mode .Blog .post-tabsHeader > *:after{background-color:$(dark.bg.colors)}
.dark-mode header .navicon > * svg, .dark-mode header .navicon.search svg, .dark-mode header .searchbar .search-button svg, .dark-mode .Blog .post-info .post-comment > * svg, .dark-mode .FeaturedPost .item-comment > * svg, .dark-mode .PopularPosts .item-comment > * svg, .dark-mode .Label li a svg, .dark-mode .Label .label-show label svg, .dark-mode .Profile .solo .profile-media li svg, .dark-mode .Blog .post-shareIcon > * svg{fill:$(dark.sec.colors)}
.dark-mode header .navicon > * svg.line, .dark-mode header .navicon.search svg.line, .dark-mode header .searchbar .search-button svg.line, .dark-mode .Blog .post-info .post-comment > * svg.line, .dark-mode .FeaturedPost .item-comment > * svg.line, .dark-mode .PopularPosts .item-comment > * svg.line, .dark-mode .Label li a svg, .dark-mode .Label .label-show label svg.line, .dark-mode .Profile .solo .profile-media li svg.line, .dark-mode .Blog .post-shareIcon > * svg.line, .dark-mode .Blog .post-tocHeader label svg.drop, .dark-mode .Blog .post-shareIcon > * svg.line{fill:none;stroke:$(dark.sec.colors)}
.dark-mode, .dark-mode .Blog .blog-pager, .dark-mode .Blog .post-pagenav, .dark-mode .Label .widget-content, .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode .FollowByEmail .title, .dark-mode .Profile .solo .profile-link, .dark-mode .Profile .team .team-member a .profile-name, .dark-mode .Profile .team .more-member > span, .dark-mode .Blog .sitemaps .judul, .dark-mode .Blog .sitemaps li a, .dark-mode .Blog .daftar-isi .isi-judul, .dark-mode .Blog .spoiler .spoiler-judul, .dark-mode .Blog .daftar-isi .isi-content a, .dark-mode .Blog .accordion .accor-title .title, .dark-mode .Blog .related-posts li .item-title, .dark-mode .Blog .post-tocHeader label, .dark-mode .Blog .post-tocContent a, .dark-mode .Blog .post-shareIcon > *, .dark-mode .Blog .post-authorsName
{color:$(dark.colors)}
.dark-mode header, .dark-mode .Blog article, .dark-mode .Blog .blog-pager .no-post, .dark-mode .Blog .post-pagenav .current, .dark-mode .FeaturedPost article, .dark-mode .Profile .solo .profile-media, .dark-mode .mainMenu, .dark-mode .navMenu .sosmed, .dark-mode .Blog .related-posts li, .dark-mode .Blog .comments-content > ol > li
{background-color:$(dark.bg.sec.colors)}
.dark-mode header .searchbar input[type=text], .dark-mode .Blog .post-thumbnail a, .dark-mode .FeaturedPost .item-thumbnail a, .dark-mode .PopularPosts .item-thumbnail a, .dark-mode .Profile .solo .profile-image, .dark-mode .widget input[type=email], .dark-mode .widget input[type=text], .dark-mode .widget textarea, .dark-mode .Blog .related-posts li .item-thumbnail > *, .dark-mode .Blog .comments-content > ol > li > .comment-replies
{background-color:$(dark.bg.hov.colors)}
.dark-mode header .navicon .nav i, .dark-mode .Blog .accordion .accor-title .accor-icon:before, .dark-mode .Blog .accordion .accor-title .accor-icon:after
{background-color:$(dark.colors)}
.dark-mode svg, .dark-mode header, .dark-mode .navMenu, .dark-mode .navMobile, .dark-mode .navMenu li .link svg, .dark-mode .navMenu .sosmed ul svg
{color:$(dark.colors);fill:$(dark.colors)}
.dark-mode header .navicon .dark-switch, .dark-mode .widget-title a, .dark-mode .FeaturedPost .item-header, .dark-mode .PopularPosts .item-header, .dark-mode .PopularPosts .no-thumbnail:before, .dark-mode .Profile .solo .profile-text, .dark-mode .Label .label-count, .dark-mode .Label .cloud a, .dark-mode .FollowByEmail .follow-text, .dark-mode .button.outline, .dark-mode .Blog .sitemaps li:before, .dark-mode .Blog .sitemaps li a:after, .dark-mode .Blog blockquote.style-1:before, .dark-mode .Blog .post-info, .dark-mode .Blog .blog-pager .no-post, .dark-mode .Blog .post .post-info .post-author, .dark-mode .Blog .post .post-info .post-published, .dark-mode .Blog .daftar-isi .isi-judul:after, .dark-mode .Blog .daftar-isi .isi-content ol li:before, .dark-mode .Blog .post-tocContent ol li:before, .dark-mode .Blog .separate:before, .dark-mode .error-container p, .dark-mode .footbar, .dark-mode .Blog .post-tocContent li a:before, .dark-mode .Blog .daftar-isi .isi-content li a:before, .dark-mode .Blog .daftar-isi .isi-content li span:before, .dark-mode .Blog .post .post-labels a, .dark-mode .Blog .post-authorsName:before, .dark-mode .Blog .post-authorsDesc, .dark-mode .Blog .comments-title .label-sort, .dark-mode .Blog .comment-actions a, .dark-mode .Blog .comment-reply a, .dark-mode .Blog .thread-toggle, .dark-mode .Blog .comments-content .comment-header .datetime, .dark-mode .Blog .comments-content .comment-header .datetime:before{color:$(dark.sec.colors)}
.dark-mode svg.line, .dark-mode svg .line, .dark-mode .navMenu li .link svg.line{fill:none;stroke:$(dark.colors)}
.dark-mode .button{color:$(dark.colors)}
.dark-mode .button.outline{border-color:$(dark.colors)}
.dark-mode .FollowByEmail, .dark-mode .navMenu > li.break:after, .dark-mode .Blog .sitemaps .sitemap-box, .dark-mode .Blog blockquote.style-1, .dark-mode .Blog .post, .dark-mode .Blog table td, .dark-mode .Blog table th, .dark-mode .Blog .daftar-isi, .dark-mode .Blog .accordion li, .dark-mode .Blog .spoiler, .dark-mode .Blog .download-info, .dark-mode .Blog .post-tabsHeader, .dark-mode .Blog .post-tabsHeader > *, .dark-mode .Blog .post-share, .dark-mode .Blog .comments-content > ol ul li:not(:last-child), .dark-mode .Blog .comment-messages{border-color:rgba(255,255,255,.1)}
.dark-mode .Blog table tr:nth-child(2n+1) td, .dark-mode .Blog code{background-color:rgba(0,0,0,.1)}
.dark-mode .Blog table.tr-caption-container .tr-caption, .dark-mode .Blog .post{background-color:transparent}



